@media(max-width: 768px){
    body{
        margin: 0;
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: calc(100%);
    }
    .slideshow{
        width: inherit;
        height: calc(250px);
    }
    .mymarquees,.mymarqueeshead{
        width: 80%;
        margin: auto;
    }
    
}
@media(min-width: 769px){
    body{
        margin: 0;
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: calc(100%);
        transition: height 2s;
    }
    .slideshow{
        width: inherit;
        height: calc(450px);
    }
   
   
}
.mymarquees{
    background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
    padding:2%;
}
.jumbotron{
    background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
}
#userpanel{
    width: 100%;
    height: 100%;
    padding: 2%;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    overflow: auto;

}
#userpanel li {
    width: calc(100%/3);
    text-align: center;
    font-size: 18px;
}
.dropdown-menu{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
#profilecard{
    opacity: 0.5;
    transition: opacity 3s;
    transition: font-size 0.5s;
    transition: height 0.5s;
    transition: margin-left 1s;
    transition: 3s;
}
#profilecard:hover{
    opacity: 1;
    font-size: 17px;
    margin-left: 50px;
}
